<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myProject.myapp.inventory.mapper.IInventoryMapper">

 	<sql id="search">
		<if test="condition == 'shoeGender'">
			WHERE shoeGender LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'design'">
			WHERE design LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'color'">
			WHERE color LIKE '%'||#{keyword}||'%'
		</if>
<!-- 		<if test="condition == 'shoeSize'">
			WHERE title LIKE '%'||#{keyword}||'%'
			OR content LIKE
			'%'||#{keyword}||'%'
		</if> -->
	</sql> 

	<insert id="regist">
		INSERT INTO inventoryList(bno, shoeGender, design, color, shoeSize, shoeNum, price, salePercent, sale)
		VALUES(inventoryList_seq.NEXTVAL, #{shoeGender}, #{design}, #{color}, #{shoeSize}, #{shoeNum}, #{price}, #{salePercent}, #{sale})
	</insert>


	 <select id="getList" resultType="inventory"><!-- resulttype과 config의 typeAlias 맞추기 -->
		SELECT * FROM
		(
		SELECT ROWNUM AS rn, tbl.* FROM
		(
		SELECT * FROM inventorylist
		<include refid="search" />
		ORDER BY bno DESC
		) tbl
		)
		<![CDATA[
		WHERE rn > (#{pageNum}-1) * #{cpp}
		AND rn <= #{pageNum} * #{cpp}
		]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM inventorylist
		<include refid="search" />
	</select>

	<select id="getContent" resultType="inventory">
		SELECT * FROM inventorylist
		WHERE
		bno=#{bno}
	</select>
<!-- 
	<update id="update">
		UPDATE freeboard
		SET title=#{title},
		content=#{content}, updatedate = sysdate
		WHERE bno=#{bno}
	</update>

	<delete id="delete">
		DELETE FROM freeboard
		WHERE bno = #{bno}
	</delete> 
 -->
</mapper>















